.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.envoltorio-tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 200px;
    margin: 100px 0;
}

.tarjeta{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: auto;
    padding: 10%;
    background: var(--tarjeta-color-violet);

}
.tarjeta:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px 1px var(--primary-color-violet);

}
.imagen-superior-tarjeta{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--white);
}
 .envoltorio-logo-estudio{
     background-color: var(--white);
 }

.descripcion-tarjetas{
    font-size: 0.8rem;
    margin: 5px;
}
h3{
    font-size:1.5rem;
    text-align: center;
}
h4{
    margin: 3px;
}
.icono{
    height: 30px;
    margin: 10px;
}
.envolorio-iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
