footer{
    background-image: url("./assets/Footer.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #ffffff;
    padding: 0.5rem 3rem;
}
.envoltorio-footer{
    display: flex;
    align-items:center;
    min-height: calc(100% / 6);
}
ul{
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
}
.tarjeta-contacto{
    display: flex;
    align-items: center;
}
.tarjeta-contacto:hover{
    cursor: pointer;
    transform: scale(1.10);
}
.icono-footer{
    height: 30px;
    margin-right: 20px; 
}
li{
    list-style: none;
    margin: 10px;
    font-size: larger;
}
.ancla-footer{
    text-decoration:none;
    color: white;
}


