:root{
    --background-white:white;
    --background-violet:#1b1337;
    --xl-font-size:30px;
    --m-font-size:25px;
    --s-font-size:20px;
    --line-height:30px;
    --color-text-gray:hsl(0, 0%, 28%);
}

body{
    background-color: var(--background-white);
    font-family: Poppins,sans-serif;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 90%;
    line-height : 30px;
    color: var(--color-text-gray);
}
/* -------------------------- header ------------------------- */
header{
    background-color: var(--background-violet);
    justify-content: center;
    padding: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-cabecera{
    display: block;
    padding: 5px 0px;
    margin-top: 0px;

}
/* ---------------- Logo ---------------------------- */
.logo-img{
    width: 100%;
    height: 100%;
    padding-top: 3px;
    margin: 0px;
    border: 0px;
    min-height: calc(100% / 6);
}
/* ----------------- Opciones de menu ------------------------ */
.conteiner-menu{
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    background-color: #c49fe9;
    border-radius: 10px;
}

.opcion{
    text-decoration:none;
    font-size: var(--xl-font-size);
    color: #1b1337;
    margin: 1rem;
}

/* ============================= Section Sobre Mi =========================== */

.subtitulo {
    color: #040000;
    font-size: 1,5rem;
    text-transform: uppercase;
    margin: 44px 0px 0px;
}

.texto{
    letter-spacing: 0.5px;
    font-size: var(--m-font-size);
    text-align: justify;
}

