/* ------------------------ CURRICULUM ---------------------  */

.descargar-cv i{
    margin-left: 8px;
}
#cv{
    display: flex;
    width: 210px;
    background: var(--secundary-color-violet);
    text-decoration: none;
    color: var(--primary-color-violet);
    border-radius: 15px;
    height: 46px;
    align-items: center;
    justify-content: center;
}
#cv:hover{
    background:var(--primary-color-violet);
    color:var(--white);
    border:2px solid var(--secundary-color-violet);
    transition: all 1.5s;
}
