footer{
    background-size: cover;
    background-position: center;
    background: rgba(27, 19, 55, 0.7);
    height: 100%;
    color: var(--white);
    padding: 0.5rem 3rem;
    box-shadow: 0 0 20px 9px var(--primary-color-violet);
}
.envoltorio-footer{
    display: flex;
    align-items:center;
    min-height: calc(100% / 6);

}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    display: inline-flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
}
.tarjeta-contacto{
    display: flex;
    align-items: center;
}
.tarjeta-contacto:hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: all 1.5s;
}
.tarjeta-contacto i{
    font-size: 30px;
    margin-right: 20px; 
}
.icono-footer{
    height: 30px;
    margin-right: 20px; 
}
li{
    list-style: none;
    margin: 10px;
    font-size: larger;
}
.ancla-footer{
    text-decoration:none;
    color: white;
}


