.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.envoltorio-tarjetas-proyecto{
    display: flex;
    margin: 3rem;
    width: 90%;
    gap: 2rem;
    justify-content: center;
}
.tarjeta-proyecto{
    height: auto;
    width: 13rem;
    border-radius: 25px;
    overflow: auto;
    background: var(--tarjeta-color-violet);

}
.tarjeta-proyecto:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px 1px var(--primary-color-violet);
}
.tarjeta-proyecto img{
    width: 100%;
}
.envoltorio-iconos-proyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.ancla-proyecto{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}



